
/**
 * NAVIGATION
 * Your horizontal (global) navigation rules
 * -------------------------------------------------------------------------------------------------
 */
/* #nav_wrapper {

}

NAV {

}

NAV UL {
	background: #39a9a4;
	background: rgb(57,169,164);
	background: rgba(57,169,164, 0.95);
	color: #fff;
	margin: 4em 5em !important;
	padding: 1.5em;
	position: absolute;
	right: 0;
	text-align: left;
	width: 400px;
	z-index: 99;
}

NAV UL LI STRONG {
	display: block;
	font-size: 18px;
	margin-top: 20px;
}

NAV UL LI A {
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 14px;
	margin-left: -4px;
	padding: 0 5px;
	vertical-align: middle;
}

NAV UL LI A:hover {
	color: #e1704b;
	text-decoration: none;
} */

/**
 * ASIDE
 * Your side bar rules
 * -------------------------------------------------------------------------------------------------
 */
ASIDE {
	float: left
}


#map_canvas {
	height: 928px;
	width: 100%;
}

/**
 * CONTACT
 * Your form rules
 * -------------------------------------------------------------------------------------------------
 */
.contact FORM {}

.contact FORM INPUT[type="text"] {
	padding: 0 10px;
}

.contact FORM INPUT[type="submit"] {
	margin: 0;
}





/* Typography */


/**
 * BLOCKQUOTES AND CODE BOXES
 *
 * -------------------------------------------------------------------------------------------------
 */
 BLOCKQUOTE {
	border-left: 0.308em solid #EEE; /* 4px */
	color: #666;
	margin-bottom: 0.769em; /* 10px */
	margin-left: 1.538em; 	/* 20px */
	margin-top: 0.769em; 	/* 10px */
	padding-left: 0.769em; 	/* 10px */
}

PRE {
	color: #333;
	display: block;
	font-family: Courier, 'Courier New', monospace;
	margin: 0 0.154em; 			/* 0 2px */
	padding: 0.154em 0.308em; 	/* 2px 4px */
}

CODE {
	background-color: #F8F8F8;
	border: 1px solid #CCC;
	border-radius: 0.231em; 	/* 3px */
	color: #333;
	display: block;
	font-family: Courier, 'Courier New', monospace;
	margin: 0 0.154em; 			/* 0 2px */
	padding: 0.077em 0.308em; 	/* 2px 4px */
}

CODE.monokai { /* Based on Monokai scheme colors */
	background-color: #272822;
	color: #FB4383
}


/**
 * ABBREVIATIONS
 *
 * -------------------------------------------------------------------------------------------------
 */
ABBR {
	border-bottom: 1px dotted black;
}

ABBR[title]:hover { /* Change cursor to a question mark when it has a title */
	cursor: help;
}

/**
 * NESTING
 *
 * -------------------------------------------------------------------------------------------------
 */
P > CODE {
	display: inline-block
}

P B, LI B, P STRONG, LI STRONG {
	font-weight: bold
}

P I, LI I, P EM, LI EM {
	font-style: italic
}

ARTICLE.capitalise H2 + P:first-letter { /* Capitalise first letter of the paragraph */
	font-size: 2.769em; 	/* 36px */
	float: left;
	letter-spacing: 0.111em;/* 4px */
	margin-top: 0.167em; 	/* 6px */
}

ARTICLE UL {
	list-style: disc outside none;
	margin-left: 2.615em; 	/* 34px */
}

ARTICLE OL {
	list-style: decimal outside none;
	margin-left: 2.615em; 	/* 34px */
}

FORM .vertical {
	list-style: none;
}

LI > LABEL {
	display: inline-block;
	padding: 0;
	vertical-align: middle;
}

LI > INPUT[type="radio"],
LI > INPUT[type="checkbox"] {
	margin: 0;
	vertical-align: middle;
}

/**
 * PLACEHOLDERS
 *
 * -------------------------------------------------------------------------------------------------
 */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #C0C0C0
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #C0C0C0
}






/* Reset */

abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp {
	-webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
		 -moz-hyphens: none; /* Firefox 16 thru 20 */
			-ms-hyphens: none; /* IE10 */
			 -o-hyphens: none; /* PRESTO */
					hyphens: none; /* W3C standard */
}


blockquote, q {
	quotes: none
}

a {
	cursor: pointer
}

iframe, img {
	vertical-align: bottom
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	*overflow: visible;
	-webkit-appearance: button;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none
}